.mat-dialog-content {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.list-icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 1rem;
}

.selected {
  border: 2px solid dodgerblue;
}

mat-radio-button {
  padding: 0.4rem;
}

mat-radio-group {
  display: flex;
  align-items: center;
}
