.mat-dialog-content {
  display: flex;
  flex-direction: column;
}

.list-icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 1rem;
}

.selected {
  border: 2px solid dodgerblue;
}
