@import "~leaflet/dist/leaflet.css"; /* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.cursorpointer #map {
  cursor: crosshair;
}

.texte-petit {
  font-size: 0.7rem;
}

.texte-normal {
  font-size: 1rem;
}

.texte-grand {
  font-size: 1.5rem;
}

.couleur-noir {
  color: black;
}
.couleur-rouge {
  color: darkred;
}
.couleur-bleu {
  color: darkblue;
}
.couleur-vert {
  color: darkgreen;
}

.font-normal {
  font-style: normal;
}
.font-italique {
  font-style: italic;
}
.font-gras {
  font-weight: bold;
}
